python-dotenv
huggingface-hub
qdrant-client
numpy
pydantic
requests
tqdm
typing-extensions
urllib3
certifi
charset-normalizer
idna
pandas
openpyxl
pdfplumber
torch
transformers
qdrant-client
langchain
langchain-community
langchain-openai
langchain-core
sentence-transformers
python-dotenv
gradio
langchain_qdrant
